#viewerView #scrollview .photo{
	height: 350px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#viewerView .editPhotos{
	margin-right:10px;
}

#viewerView .photoName{
	text-align: center;
	font-weight: bold;
	padding:10px 0;
	font-size: 20px;
}

#viewerView .removePhotoNameBtn{
	position: absolute;
	right:7px;
	top:10px;
}

#viewerView .groupNameBanner{
	color: #fff;
	background-color: #428BCA;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	border-top: 1px solid #357EBD;
	border-bottom: 1px solid #357EBD;
	text-overflow: ellipsis;
	padding:3px 0;
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
}