#viewerView #scrollview .photo{
	height: 350px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#viewerView .editPhotos{
	margin-right:10px;
}

#viewerView .photoName{
	text-align: center;
	font-weight: bold;
	padding:10px 0;
	font-size: 20px;
}

#viewerView .removePhotoNameBtn{
	color: #fff;
	position: absolute;
	right:7px;
	top:10px;
}